<div class="container">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Login</div>
      <div class="panel-body">
        <form name="authForm" ng-submit="auth.login()">
          <div class="form-group">
            <label>Email adress</label>
            <input name="email" type="email" class="form-control" ng-model="auth.login.user.email"required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="auth.login.user.pwd" required>
          </div>
          <br>
          <span class="alert alert-danger" ng-show="auth.errorMessage">{{auth.errorMessage}}</span>
          <hr>
          <button type="submit" class="btn btn-info">Login</button>
          <a id="btn-fblogin" href="/auth/facebook" class="btn btn-primary">f</a>
          <a id="btn-fblogin" href="/auth/facebook" class="btn btn-danger">g+</a>
          <hr>
          <p>Need an account? <a ng-click="auth.callRegistview()">Sign Up</button></p>
        </form>
      </div>
    </div>
  </div>

</div>
