<div class="container">

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Register</div>
      <div class="panel-body">
        <form name="register" ng-submit="regist.registerUser()">
          <div class="form-group">
            <label>Email adress</label>
            <input name="email" type="email" class="form-control" ng-model="regist.user.email" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="pwd" class="form-control" ng-model="regist.user.pwd" required>
          </div>
          <div class="form-group">
            <label>Password Confirm</label>
            <input type="password" name="pwdConfirm" class="form-control" compare-to="regist.user.pwd" ng-model="pwdConfirm" required>
          </div>
            <br>
            <span class="alert alert-danger" ng-show="regist.errorMessage">{{regist.errorMessage}}</span>
            <span class="alert alert-danger" ng-show="register.pwdConfirm.$dirty&&register.pwdConfirm.$invalid">Passwords do not match</span>
            <hr>
            <button type="submit" class="btn btn-success">Register</button>
            <a id="btn-fblogin" href="/auth/facebook" class="btn btn-primary">f</a>
            <a id="btn-fblogin" href="/auth/facebook" class="btn btn-danger">g+</a>
          <hr>
          <p>Alredy have an account? <a ng-click="regist.callAuthview()">Login</a></p>
        </form>
      </div>
    </div>
  </div>

</div>
