<nav ng-controller="NavbarController as nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li ng-hide="nav.isAuthenticated()"><a ui-sref="auth">Login</a></li><!-- Con ui-sref puede llamar a la clase auth sin hacer todo el routing-->
        <li ng-show="nav.isAuthenticated()"><a ng-click="nav.logout()">Logout</a></li>
        <li><a ng-click="nav.callRegistview()">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
