<div class="main">

  <div class="dropdown">
    <a class="dropdown-toggle" id="dropdownMenu1" href="#">Dropdown trigger</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
    </ul>
  </div>
  <div class="mainContainer">
    <hr>
    <h1>TAKE FIRST STEP</h1>
    <h1>TO KNOWLEDGE WITH US</h1>
    <hr>
    <h5>Ready to start?</h5>
  </div>
</div>
